.nft {
  user-select: none;
  max-width: 850px;
  margin: auto;
  border: 1px solid #ffffff22;
  background: linear-gradient(#0c0c0c80 0%, #282c34 100%);
  box-shadow: 0 7px 8px 5px #00000088;
  border-radius: 0.7rem;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  overflow: hidden;
  transition: 0.5s all;
  color: #9accff;
}
.nft .main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem 2rem;
}
.nft .description {
  margin: 0.5rem 0;
}
.nft .tokenInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nft .duration {
  display: flex;
  min-height: 220px;
  align-items: center;
  margin-right: 0.2rem;
}
.nft::before {
  position: fixed;
  content: "";
  box-shadow: 0 0 40px 40px #ffffff08;
  top: -40%;
  left: -20%;
  transform: rotate(-45deg);
  height: 50rem;
  transition: 0.9s all;
}
.nft:hover {
  border: 1px solid #ffffff44;
  transform: scale(1.015);
  filter: brightness(1.3);
}
.nft:hover::before {
  filter: brightness(0.5);
  top: -100%;
  left: 160%;
}
.company-description p {
  margin-bottom: 1rem;
}
