---
import Section from "./Section.astro";
import "../styles/nft.css";
---

<Section
  title="¿Quienes somos?"
  subtitle="Maquinados de precisión e insumos industriales con calidad garantizada"
  color="white"
  id="about"
>
  <div slot="footer" class="gap-x-6 flex mx-auto">
    <a
      class="btn-gray border-[3px] border-stone-600 bg-stone-600 text-sm rounded font-medium text-white px-12 py-2 inline-block transition-all hover:bg-yellow-300 hover:text-black hover:scale-[1.02]"
      href="/nosotros"
    >
      Ver galería de fotos</a
    >
    <a
      class="btn-white bg-white text-sm rounded font-medium px-12 py-2 transition-colors hover:bg-black hover:text-white inline-flex justify-center items-center text-black"
      href="/nosotros"
    >
      Ver sinopsis completa</a
    >
  </div>
  <div slot="contain">
    <div class="nft">
      <div class="main">
        <div class="tokenInfo">
          <div class="duration">
            <section class="company-description">
              <p>
                En <strong>Metalico</strong> fabricamos piezas de precisión y suministramos
                insumos industriales de alto desempeño para los sectores automotriz,
                metalmecánico, aeroespacial, petróleo y gas, minería y manufactura.
              </p>

              <p>
                Trabajamos con tecnología especializada para garantizar dimensiones exactas,
                acabados de alta calidad y un desempeño confiable. Además, realizamos pruebas
                de resistencia, funcionamiento y carga real para asegurar que cada producto
                cumpla con los más altos estándares.
              </p>

              <p>
                Nuestro compromiso es ofrecer soluciones confiables, asesoría técnica
                especializada, costos competitivos y el respaldo necesario para que sus
                proyectos se desarrollen con seguridad, precisión y calidad.
              </p>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>

  <img
    slot="background"
    alt="Fondo metalico"
    class="h-full w-full object-cover object-center bg-image"
    src="about.avif"
    id="bg-image-about"
  />
</Section>

<script>
  function isEdge() {
    if (
      navigator.userAgent.indexOf("Edge") > -1 ||
      navigator.userAgent.indexOf("Edg") > -1
    ) {
      return true;
    } else {
      return false;
    }
  }

  let imageElement = document.querySelector(
    "#bg-image-about",
  ) as HTMLImageElement;

  if (isEdge()) {
    imageElement.src = "about.avif";
  } else {
    imageElement.src = "about.avif";
  }
</script>
