---
import LetsTalk from "./LetsTalk.astro";
---

<LetsTalk
  title="Contáctanos"
  subtitle="Hablemos de tu próximo proyecto metalmecánico"
  color="white"
  id="contact"
  showFooterContent="true"
  mostrarFormulario={true}
>
  <div slot="footer" class="w-full border-t border-white/10 pt-4 pb-2 px-6">
    <div class="flex flex-wrap justify-center items-center gap-4">
      <img src="/visa.svg" alt="Visa" class="h-5 max-md:h-4" />
      <img src="/mastercard.svg" alt="Mastercard" class="h-6 max-md:h-4" />
      <img src="/amex.svg" alt="Amex" class="h-6 max-md:h-4" />
      <img src="/mercadopago.svg" alt="Mercado Pago" class="h-6 max-md:h-4" />
      <img src="/paypal.svg" alt="PayPal" class="h-6 max-md:h-4" />
      <img src="/spei.svg" alt="SPEI" class="h-5 max-md:h-4" />
      <img src="/paquetexpress.svg" alt="Paquetexpress" class="h-6 max-md:h-4" />
      <img src="/estafeta.svg" alt="Estafeta" class="h-5 max-md:h-4" />
    </div>
    <div class="flex flex-wrap justify-center gap-x-8 gap-y-1 text-xs text-white/50 mt-3">
      <span>CDMX, México</span>
      <span>Hecho con &#x1FA76; por Metalico - 2026</span>
      <span>Precios en pesos mexicanos MXN</span>
    </div>
  </div>
  <!-- <img slot="contain" src="logo_metalico.png"/> -->
  <img
    slot="background"
    alt=""
    class="h-full w-full object-cover object-center"
    src="bg-steel-black.avif"
    id="bg-image-contact"
  />
</LetsTalk>
<script>
  function isEdge() {
    if (
      navigator.userAgent.indexOf("Edge") > -1 ||
      navigator.userAgent.indexOf("Edg") > -1
    ) {
      return true;
    } else {
      return false;
    }
  }

  let imageElement = document.querySelector(
    "#bg-image-contact",
  ) as HTMLImageElement;

  if (isEdge()) {
    imageElement.src = "contact-bg.avif";
  } else {
    imageElement.src = "contact-bg.avif";
  }
</script>
