---
const { mostrarFormulario } = Astro.props;
import Form from "./Form.astro";
---

<div class="relative
flex
items-center
custom-container">
  <slot name="info-contact" />
  <div class="flex-none w-full max-w-full box-border">
    <div class="bg-file"></div>
    <div class="contact-form">
      {mostrarFormulario && <Form />}
    </div>
  </div>
</div>

<style>
.bg-file
 {
    background-image: url(/contact-form-bg.png);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 4rem;
 }

  .contact-form {
    background: #fff;
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    padding: 1rem 1rem 1rem;
  }

  @media (min-width: 768px) {
    .contact-form {
      padding: 0rem 2.5rem 1.5rem;
    }
  }

  .container-contact {
    z-index: 2;
    width: 100%;
    max-width: 104rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
</style>
