<footer
  class="py-3 px-10 flex justify-center items-center absolute bottom-0 w-full z-40 text-gray-600 text-xs font-medium"
  id="landing-footer"
>
  <nav>
    <ul class="flex [&>li>a]:inline-block [&>li>a]:px-2 [&>li>a]:py-2">
      <li><a href="#">Metalico © 2026</a></li>
      <li><a href="mailto:contacto@metalico.mx">contacto@metalico.mx</a></li>
      <li><a href="tel:+525581082193">Tel: 55 8108 2193</a></li>
      <li><a href="https://wa.me/525581082193" target="_blank" rel="noopener noreferrer">WhatsApp: 55 8108 2193</a></li>
      <li>
        <a href="#"
          >Av. Presidente Plutarco Elías Calles 300, Col. Tlazintla, Iztacalco,
          C.P. 08710, Ciudad de México.</a>
      </li>
    </ul>
  </nav>
</footer>
