ï»¿---
import Section from "./Section.astro";
import "../styles/nft.css";
---
<Section
  title="Servicios"
  subtitle="Nuestros ingenieros industriales pueden ayudarte desde el diseâ”œâ–’o hasta la ingenieria"
  subtitleExtraClass=""
  color="white"
  id="service"
>
  <div slot="contain">
    <div class="nft">
      <div class="main">
        <div class="tokenInfo">
          <div class="duration">
            <p>
              Contamos con servicios de acabados e inyecciâ”œâ”‚n de plâ”œĂ­stico<br />
              ACABADOS: <br />Ă”Ă‡Ă³Galvanizado por inmersiâ”œâ”‚n en caliente
              Ă”Ă‡Ă³Galvanizado electrolâ”œÂ¡tico Ă”Ă‡Ă³Tropicalizado Ă”Ă‡Ă³Pintura electroestâ”œĂ­tica
              Ă”Ă‡Ă³Pintura de aceite <br />
              INYECCIâ”œĂ´N: <br />Ă”Ă‡Ă³Maquila de piezas de plâ”œĂ­stico Ă”Ă‡Ă³De 100 a 2000 gr
              de 112 a 455 T Ă”Ă‡Ă³Tampografâ”œÂ¡a
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div slot="footer" class="gap-x-6 flex mx-auto">
      <a
        class="border-[3px] border-stone-600 bg-stone-600 text-sm rounded font-medium text-white px-12 py-2 inline-block transition-all hover:bg-yellow-400 hover:text-black hover:border-yellow-400 hover:scale-[1.02]"
        href="/servicios"
      >
        Acabados metâ”œĂ­licos</a
      >
      <a
        class="bg-white text-sm rounded font-medium px-12 py-2 transition-colors hover:bg-black hover:text-white inline-flex justify-center items-center text-black"
        href="/servicios"
      >
        Inyecciâ”œâ”‚n de plâ”œĂ­stico</a
      >
  </div>

  <img
    slot="background"
    alt="Espacio metalurgico con mâ”œĂ­quinaria relacionada"
    class="h-full w-full object-cover object-center"
    src="service.avif"
    id="bg-image-service"
  />
</Section>

<script>
  function isEdge() {
    if (
      navigator.userAgent.indexOf("Edge") > -1 ||
      navigator.userAgent.indexOf("Edg") > -1
    ) {
      return true;
    } else {
      return false;
    }
  }

  let imageElement = document.querySelector(
    "#bg-image-service",
  ) as HTMLImageElement;

  if (isEdge()) {
    imageElement.src = "service.webp";
  } else {
    imageElement.src = "service.avif";
  }
</script>
