---
import Section from "./Section.astro";
import "../styles/nft.css";
---
<Section
  title="Servicios"
  subtitle="Nuestros ingenieros industriales pueden ayudarte desde el diseño hasta la ingeniería"
  subtitleExtraClass=""
  color="white"
  id="service"
>
  <div slot="contain">
    <div class="nft">
      <div class="main">
        <div class="tokenInfo">
          <div class="duration">
            <p>
              Contamos con servicios de acabados e inyección de plástico<br />
              ACABADOS: <br />• Galvanizado por inmersión en caliente
              • Galvanizado electrolítico • Tropicalizado • Pintura electrostática
              • Pintura de aceite <br />
              INYECCIÓN: <br />• Maquila de piezas de plástico • De 100 a 2000 gr
              de 112 a 455 T • Tampografía
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div slot="footer" class="gap-x-6 flex mx-auto">
      <a
        class="btn-gray border-[3px] border-stone-600 bg-stone-600 text-sm rounded font-medium text-white px-12 py-2 inline-block transition-all hover:bg-yellow-300 hover:text-black hover:scale-[1.02]"
        href="/servicios"
      >
        Acabados metálicos</a
      >
      <a
        class="btn-white bg-white text-sm rounded font-medium px-12 py-2 transition-colors hover:bg-black hover:text-white inline-flex justify-center items-center text-black"
        href="/servicios"
      >
        Inyección de plástico</a
      >
  </div>

  <img
    slot="background"
    alt="Espacio metalúrgico con maquinaria relacionada"
    class="h-full w-full object-cover object-center"
    src="service.avif"
    id="bg-image-service"
  />
</Section>

<script>
  function isEdge() {
    if (
      navigator.userAgent.indexOf("Edge") > -1 ||
      navigator.userAgent.indexOf("Edg") > -1
    ) {
      return true;
    } else {
      return false;
    }
  }

  let imageElement = document.querySelector(
    "#bg-image-service",
  ) as HTMLImageElement;

  if (isEdge()) {
    imageElement.src = "service.webp";
  } else {
    imageElement.src = "service.avif";
  }
</script>
