---
import Section from "./Section.astro";
import "../styles/nft.css";
---

<Section
  title="Equipo"
  subtitle="Más de 1,200 m3 de maquinaria"
  color="white"
  id="solutions"
>
  <div slot="contain">
    <div class="nft">
      <div class="main">
        <div class="tokenInfo">
          <div class="duration">
            •Centro de maquinado •Centro de torneado CNC •Cortadora CNC
            •Cortadora de plasma •Cortadora láser en placa y tubo •Curvadora
            •Dobladora de cortina •Equipo de oxicorte •Erosionadora 3D
            •Erosionadora por hilo •Erosionadora por penetración •Fresadora
            vertical •Impresión 3D •Máquina de inyección •Metalera •Prensa
            troqueladora de 250 toneladas •Rectificadora •Roladora •Roscadora
            •Soldadura Mig •Soldadura Tig •Torno paralelo
          </div>
        </div>
      </div>
    </div>
  </div>

  <div slot="footer" class="gap-x-6 flex mx-auto">
    <a
      class="border-[3px] border-gray-600 bg-gray-600 text-sm rounded font-medium text-white px-12 py-2 inline-block transition-all hover:bg-white hover:text-gray-900 hover:border-white hover:scale-[1.02]"
      href="https://wa.me/525581082193?text=Hola%2C%20me%20interesa%20conocer%20m%C3%A1s%20sobre%20su%20equipo%20y%20servicios"
      target="_blank"
      rel="noopener noreferrer"
    >
      Contactar</a
    >
    <a
      class="bg-white text-sm rounded font-medium px-12 py-2 transition-colors hover:bg-black hover:text-white inline-flex justify-center items-center text-black"
      href="#"
    >
      Saber más</a
    >
  </div>

  <img
    slot="background"
    alt="Maquinaria industrial de Metalico"
    class="h-full w-full object-cover object-center"
    src="solutions.avif"
    id="bg-image-solutions"
  />
</Section>

<script>
  function isEdge() {
    if (
      navigator.userAgent.indexOf("Edge") > -1 ||
      navigator.userAgent.indexOf("Edg") > -1
    ) {
      return true;
    } else {
      return false;
    }
  }

  let imageElement = document.querySelector(
    "#bg-image-solutions",
  ) as HTMLImageElement; // TypeScript

  if (isEdge()) {
    imageElement.src = "solutions.webm";
  } else {
    imageElement.src = "solutions.avif";
  }
</script>
